

h1 {
       font-size: 50px;
       font-family: Segoe UI;
}



head {
	font-size: 60px;
        text-align: center;
	color: #000000;
        font-family: "Times New Roman", Times, serif;
}

body {
	line-height: 1.8;
	font-size: 30px;
	background-image: url("http://www.intrawallpaper.com/static/images/Alien_Ink_2560X1600_Abstract_Background_AgLbDjN.jpg");
	text-align: center;
	color: #000000;
        font-family: Segoe UI;
	text-decoration: none;

}



a:link {
    outline: none;
    text-decoration: none;
    font-family: Segoe UI;
    color: #000000
}

a:visited {
    outline: none;
    font-family: Segoe UI;
    color: #000000
}


a:active {
    outline: none;
    font-family: Segoe UI;
    color: white
}  

input {
    width: 30%;
}

input[type=text] {
    border-radius: 100px;
    border: none;
    font-size: 25px;
    text-align: center;
    font-family: Segoe UI;

}

input[type=button], input[type=submit], input[type=reset] {
    width: 15%;
    background-color: #ffffff;
    color: black;
    border: none;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    outline: none;
    cursor: pointer;
    font-size: 20px;

}

p {
    font-size: 16px;
}

#error {
    font-size: 35px;
    font-family: Segoe UI;
    color: red;
    line-height: 10;
}

#success {
    font-size: 35px;
    font-family: Segoe UI;
    color: black;
    line-height: 10;
}
